
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;

// ##4650DA
$body-color:                rgb(120,120,120);

$border-radius:               .35rem !default;

$theme-colors: (
  "primary":#3F4B5B,
  "secondary": #7180AC,
  "dark": #232932
);

$font-size-base:              0.90rem;
