
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;

// ##4650DA
$body-color:                rgb(120,120,120);

$border-radius:               .35rem !default;

$theme-colors: (
  "primary":#4650DA,
  "secondary": #C6C8D8
);

$small-font-size: 12px;